<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">-->
<!--<suite name="All Test Suite">-->
<!--    <test verbose="2" preserve-order="true"-->
<!--          name="D:/Automation_testing/02 - Selenium Webdriver/hibrid-nopcommerrce-framework-29/hibrid-nopcommerrce-framework/testcases/com/nopcommerce/users">-->
<!--        <classes>-->
<!--            <class name="com.nopcommerce.users.Lever_01_Repeat_Yourseft">-->
<!--                <methods>-->
<!--                    <include name="TC_01_Register"/>-->
<!--                    <include name="TC_02_Login"/>-->
<!--                    <include name="TC_03_MyAccount"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="com.nopcommerce.users.Lever_02_BasePage_II_StaticMethod">-->
<!--                <methods>-->
<!--                    <include name="TC_01_Register"/>-->
<!--                    <include name="TC_02_Login"/>-->
<!--                    <include name="TC_03_MyAccount"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="com.nopcommerce.users.Lever_02_BasePage_I_Init">-->
<!--                <methods>-->
<!--                    <include name="TC_01_Register"/>-->
<!--                    <include name="TC_02_Login"/>-->
<!--                    <include name="TC_03_MyAccount"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="com.nopcommerce.users.Lever_03_Page_Object">-->
<!--                <methods>-->
<!--                    <include name="User_01_Register"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->